

.form{
    width: 60%;
    margin: auto;
}

.container{
    width: 75%;
    margin: auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container{
        width: 90%;
    }

}

.results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.eachClass{
    border: solid 1px #009688;
    text-align: center;
    min-height: 200px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2)


}

.eachday{
    border: solid 1px #FF5722;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2)
}

.eachClass:hover{
    background-color: #009688;
    color: white;

}

.eachday:hover{
    background-color: #FF5722;
    color: white;
}