

.form{
    width: 60%;
    margin: auto;
}

.container{
    width: 75%;
    margin: auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container{
        width: 90%;
    }

}

.results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.eachClass{
    border: solid 1px #ccc;
    text-align: center;

}

.eachClass:hover{
    background-color: #D3D3D3;
}