

.form{
    width: 60%;
    margin: auto;
    /* background-color: green; */

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .form{
        width: 90%;
    }

}
